{% extends 'base.html' %}
{% block content %}
<!-- 500 Page -->
<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
        <div class="col-12 text-center">
            <span class="display-1 d-block">500</span>
            <div class="mb-4 lead">서버 내부에서 오류가 발생했습니다.</div>
            <p class="text-gray-800 mb-0">It looks like you found a glitch in the matrix...</p>>
            <a href="/" class="btn btn-link">홈으로 돌아가기</a>
        </div>
</div>




{% endblock %}