{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}

<div class="text-center my-5">
    <h1>videos...</h1>
</div>>
    <table class="d-flex justify-content-center">
            <tr>
                <td>
                    <img
                        src="http://192.168.0.175:8000/camera/detectme/"
                        style="width: 500px; height: 500px"
                    />
                </td>

                <td>나의 비디오...</td>
            </tr>
        </table>

{% endblock %}